.list--collapsed > .list__items {
  height: 0;
  margin: 0;
  overflow: hidden;
}

.list--collapsed .list__icon {
  transform: scale(1.6) rotate(0deg);
}

.list__icon {
  margin-right: 0.5rem;
  transform: scale(1.6) rotate(90deg);
  transition: transform 0.5s ease-out;
}

.list__header {
  cursor: pointer;
  margin: 0;
  padding: 1rem;
}

.list__header:hover {
  background-color: var(--contrasting-background-color);
}

.list__items > li {
  list-style-type: "-  ";
}
